<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/commands.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
        <title>Galactic Feeds | Commands</title>
    </head>
    <body>
        <div class="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/commands">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>
            </ul>
        </div>
        <!-- <div class="main">
            <section id="banner">
                <center>
                    <h1 class="banner-h1">Galactic Feeds Commands</h1>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="contGrid">
                        <h1 class="contGrid-heading">Under Mainenance</h1>
                        <p class="contGrind-p">Sorry this page is still currently in development. Come back later :D.</p>
                        
                    </div>
                </center>
                
            </section>
        </div> -->
    </body>
</html>
