<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
        <title>Galactic Feeds | Home</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/commands">Commands</a>
            <a href="https://discord.com/invite/vA4gUUUgdS" class="split">Join Support Server</a>
            <a href="https://discord.com/login?redirect_to=%2Foauth2%2Fauthorize%3Fclient_id%3D1005235942816235541%26permissions%3D380641532928%26scope%3Dbot%2520applications.commands" class="split">Invite Me</a>
        </div>
        <div class="main">
            <section id="banner">
                <center>
                    <h1 class="banner-h1">Galactic Feeds</h1>
                    <p class="main-banner-p">Receive the latest news in just minutes!</p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="contGrid">
                        <h1 class="contGrid-heading">Under Mainenance</h1>
                        <p class="contGrind-p">Sorry this page is still currently in development. Come back later :D.</p>
                    </div>
                </center>
            </section>
        </div>
    </body>
</html>
